.u-section-1 .u-sheet-1 {
  min-height: 1226px;
}

.u-section-1 .u-group-1 {
  width: 295px;
  min-height: 43px;
  height: auto;
  margin: auto auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-text-2 {
  margin: 8px auto 0 1305px;
}

.u-section-1 .u-text-3 {
  margin: -28px auto 0 1845px;
}

.u-section-1 .u-text-4 {
  margin: -28px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: -28px auto 0 1305px;
}

.u-section-1 .u-text-7 {
  margin: -28px auto 0 1834px;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 254px;
  min-height: 43px;
  height: auto;
  margin: 25px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-13 {
  margin: 0;
}

.u-section-1 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  margin: 8px 1636px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 1691px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 20px 1606px 0 0;
}

.u-section-1 .u-group-3 {
  width: 351px;
  min-height: 43px;
  height: auto;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-17 {
  margin: 0;
}

.u-section-1 .u-line-3 {
  margin-top: 0;
  transform-origin: left center 0px;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  margin: 8px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 639px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 903px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 639px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 898px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-line-2 {
    height: 3px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 1146px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 711px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 626px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 489px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 692px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 489px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 688px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 926px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 491px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 367px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 519px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 367px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 516px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 746px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 311px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 226px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 231px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 327px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 231px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 325px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 546px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 111px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 26px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }
}

input[type=range] {
  width: 90% !important;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  accent-color: #C3D69B;
}


input[type=text] {
  width: 70% !important;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  border-radius: 10px;
  border-width: 0.5px;
  border-color: #6e6e6e;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 113.39px;
  height: 37px;
  border-color: #6e6e6e;
  border-width: 1px;
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6e6e6e;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 95%;
  width: 70px;
  left: 10px;
  top: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(23.39px);
  -ms-transform: translateX(23.39px);
  transform: translateX(23.39px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 10%;
}




/* The switch - the box around the slider */
.gpuSwitch {
  position: relative;
  display: inline-block;
  width: 113.39px;
  height: 37px;
  border-color: #6e6e6e;
  border-width: 1px;
}


/* Hide default HTML checkbox */
.gpuSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.gpuSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #52d493;
  -webkit-transition: .4s;
  transition: .4s;
}

.gpuSlider:before {
  position: absolute;
  content: "";
  height: 95%;
  width: 70px;
  left: 10px;
  top: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.gpuSlider {
  background-color: #2196F3;
}

input:focus+.gpuSlider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.gpuSlider:before {
  -webkit-transform: translateX(23.39px);
  -ms-transform: translateX(23.39px);
  transform: translateX(23.39px);
}

/* Rounded sliders */
.gpuSlider.round {
  border-radius: 5px;
}

.gpuSlider.round:before {
  border-radius: 10%;
}

.policyLabel {
  border: #6e6e6e;
  background-color: #c0c0c0;
  border-radius: 5px;
  border-width: 1px;
  align-content: center;
  height: 80% !important;
  padding: 10px;
}

.policyText {
  margin: auto !important;
}

.clusterSelector {
  height: fit-content;
  width: 90%;
  padding: 10px;
  border: 1px solid #6e6e6e;
  font-family: Poppin;
  font-size: large;
  background: url('/static/img/arrowDown.png') no-repeat 90% 50%;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.applyBtn {
  background: url('/static/img/arrowRight.png') no-repeat 90% 50%;
  background-color: #558ED5;
  border-radius: 10px;
  border: 1px solid #6e6e6e;
  width: 90%;
  padding-left: 30px;
  font-family: Poppin;
  font-size: xx-large;
  font-weight: 400;
  color: #FFF;
  text-align: left;
}

.applyBtn:hover {
  background: url('/static/img/arrowRight.png') no-repeat 90% 50%;
  background-color: #4375b3;
  border-radius: 10px;
  border: 1px solid #6e6e6e;
  width: 90%;
  padding-left: 30px;
  font-family: Poppin;
  font-size: xx-large;
  font-weight: 400;
  color: #FFF;
  text-align: left;
}

.applyBtn:active {
  background: url('/static/img/arrowRight.png') no-repeat 90% 50%;
  background-color: #2c507c;
  border-radius: 10px;
  border: 1px solid #6e6e6e;
  width: 90%;
  padding-left: 30px;
  font-family: Poppin;
  font-size: xx-large;
  font-weight: 400;
  color: #FFF;
  text-align: left;
}