{{template "header.html" .}}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img src="/assets/logo_toggle.png" style="max-height: 3.0rem;">
                </div>
                <div class="sidebar-brand-text">
                    OLAM
                </div>
            </a>


            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Database
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseDashboard"
                    aria-expanded="true" aria-controls="collapseDashboard">
                    <div class="fas fa-fw">
                        <img src="/static/img/dashboard.png" style="max-height: 1.0rem;">
                    </div>
                    <span>Dashboard</span>
                </a>
                <div id="collapseDashboard" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">OpenCSD Simulator</h6>
                        <a class="collapse-item" href="/WhatisCSD">Overview</a>
                        <a class="collapse-item" href="cards.html">Snippet List</a>
                    </div>
                </div>
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseSnippet" aria-expanded="true"
                    aria-controls="collapseSnippet">
                    <div class="fas fa-fw">
                        <img src="/static/img/snippet.png" style="max-height: 1.0rem;">
                    </div>
                    <span>Snippet</span>
                </a>
                <div id="collapseSnippet" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Snippet</h6>
                        <a class="collapse-item" href="/WhatisCSD">Generator</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <!-- <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>



                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{.user}}</span>
                                <img class="img-profile rounded-circle" src={{.profile}}>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Total CSD -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total CSD</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">8</div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="/static/img/csd.png" style="max-height: 2.5rem;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Total Tasks -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total
                                                Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        {{.tasks}} Tasks
                                                    </div>
                                                </div>
                                                <!-- <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Average CPU Usage</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{.avgCPU}} cores
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="/static/img/cpu.png" style="max-height: 2.5rem;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Total Snippet Count</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{.snippet}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 id="queryInfo" class="m-0 font-weight-bold text-primary">Query Info (TPC-H
                                        1)</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Query</div>
                                            <a id="TPC-H-01" class="dropdown-item">TPC-H 01</a>
                                            <a id="TPC-H-02" class="dropdown-item">TPC-H 02</a>
                                            <a id="TPC-H-03" class="dropdown-item">TPC-H 03</a>
                                            <a id="TPC-H-04" class="dropdown-item">TPC-H 04</a>
                                            <a id="TPC-H-05" class="dropdown-item">TPC-H 05</a>
                                            <a id="TPC-H-06" class="dropdown-item">TPC-H 06</a>
                                            <a id="TPC-H-07" class="dropdown-item">TPC-H 07</a>
                                            <a id="TPC-H-08" class="dropdown-item">TPC-H 08</a>
                                            <a id="TPC-H-09" class="dropdown-item">TPC-H 09</a>
                                            <a id="TPC-H-10" class="dropdown-item">TPC-H 10</a>
                                            <a id="TPC-H-11" class="dropdown-item">TPC-H 11</a>
                                            <a id="TPC-H-12" class="dropdown-item">TPC-H 12</a>
                                            <a id="TPC-H-13" class="dropdown-item">TPC-H 13</a>
                                            <a id="TPC-H-14" class="dropdown-item">TPC-H 14</a>
                                            <a id="TPC-H-15" class="dropdown-item">TPC-H 15</a>
                                            <a id="TPC-H-16" class="dropdown-item">TPC-H 16</a>
                                            <a id="TPC-H-17" class="dropdown-item">TPC-H 17</a>
                                            <a id="TPC-H-18" class="dropdown-item">TPC-H 18</a>
                                            <a id="TPC-H-19" class="dropdown-item">TPC-H 19</a>
                                            <a id="TPC-H-20" class="dropdown-item">TPC-H 20</a>
                                            <a id="TPC-H-21" class="dropdown-item">TPC-H 21</a>
                                            <a id="TPC-H-22" class="dropdown-item">TPC-H 22</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="row">
                                    <img id="queryInfoIMG" src="/static/img/tpch/TPC-H1.png"
                                        style="max-height: 25.0rem;max-width: 32.5rem; padding: 1em;">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <th>Total Snippet Count</th>
                                                    <th id="totalSnippetCount"></th>
                                                </thead>
                                                <tbody id="snippetTableBody"></tbody>
                                            </table>
                                            <div align="right">
                                                <a id="submitQuery" href="#" class="btn btn-primary btn-icon-split"
                                                    style="align-content: right;">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-arrow-right"></i>
                                                    </span>
                                                    <span id="submitText" class="text">Submit Query</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 id="SSDCSDUsage" class="m-0 font-weight-bold text-primary">Query Analyze</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="pieChartContainer" class="chart-pie pt-4 pb-2">

                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> Aggregation
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Join
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> SubQuery
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-warning"></i> GroupBy
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-secondary"></i> OrderBy
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                    <h6 id="cpuUsageByQuery" class="m-0 font-weight-bold text-primary">CSD Analyze
                                    </h6>
                                    <div id="csdBetter" class="dropdown no-arrow" align="right" style="display: none;">
                                        <a class="btn-sm btn-success btn-circle">
                                            <i class="fas fa-check"></i>
                                        </a>
                                    </div>
                                    <div id="csdWorse" class="dropdown no-arrow" align="right" style="display: none;">
                                        <a class="btn-sm btn-warning btn-circle">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </a>

                                    </div>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">

                                    <div class="chart-area">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <th>Metric Names</th>
                                                    <th>Value</th>
                                                </thead>
                                                <tbody id="csdResultTable"></tbody>
                                            </table>
                                        </div>

                                        <div id="csdLoadingBar" style="display: none;">
                                            <div class="spinner-border" role="status"
                                                style=" position: absolute; top: 40%; left: 47%;">
                                            </div>
                                            <span class="visually-hidden"
                                                style=" position: absolute; top: 50%; left: 45%;">Loading...</span>
                                        </div>
                                        <div id="csdWarningText" style="display: block;">
                                            <span class="visually-hidden"
                                                style=" position: absolute; top: 50%; left: 38%;">Please Select Query
                                                First</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                    <h6 id="SSDCSDUsage" class="m-0 font-weight-bold text-primary">SSD Analyze</h6>
                                    <div id="ssdBetter" class="dropdown no-arrow" align="right" style="display: none;">
                                        <a class="btn-sm btn-success btn-circle">
                                            <i class="fas fa-check"></i>
                                        </a>
                                    </div>
                                    <div id="ssdWorse" class="dropdown no-arrow" align="right" style="display: none;">
                                        <a class="btn-sm btn-warning btn-circle">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">

                                    <div class="chart-area">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <th>Metric Names</th>
                                                    <th>Value</th>
                                                </thead>
                                                <tbody id="ssdResultTable"></tbody>
                                            </table>
                                        </div>

                                        <div id="ssdLoadingBar" style="display: none;">
                                            <div class="spinner-border" role="status"
                                                style=" position: absolute; top: 40%; left: 47%;">
                                            </div>
                                            <span class="visually-hidden"
                                                style=" position: absolute; top: 50%; left: 45%;">Loading...</span>
                                        </div>
                                        <div id="ssdWarningText" style="display: block;">
                                            <span class="visually-hidden"
                                                style=" position: absolute; top: 50%; left: 38%;">Please Select Query
                                                First</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-12 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Metric Graph</h6>
                                </div>
                                <div class="row">
                                    <div class="card-body col-lg-3 ml-3">
                                        <h4 class="small font-weight-bold">Type </h4>
                                        <div class="mb-2">
                                            <a id="csdCheckBox" class="btn btn-success btn-circle btn-sm">
                                                <img id="isCsdCheck" src="/static/img/checkCircle2.PNG"
                                                    style="max-height: 2.5rem;">
                                            </a>
                                            <code>CSD</code>
                                            <a id="ssdCheckBox" class="btn btn-success btn-circle btn-sm">
                                                <img id="isSsdCheck" src="/static/img/checkCircle2.PNG"
                                                    style="max-height: 2.5rem;">
                                            </a>
                                            <code>SSD</code>
                                        </div>
                                        
                                            <div class="row mb-2">
                                                <div class='col-sm-6'>
                                                    <h4 class="small font-weight-bold">Start Time</h4>
                                                    <input type='text' class="form-control" id='startTime' />
                                                </div>
                                                <div class='col-sm-6'>
                                                    <h4 class="small font-weight-bold">End Time</h4>
                                                    <input type='text' class="form-control" id='endTime' />
                                                </div>
                                                <script type="text/javascript">
                                                    $(function () {
                                                        $('#startTime').datetimepicker();
                                                    });
                                                </script>
                                                <script type="text/javascript">
                                                    $(function () {
                                                        $('#endTime').datetimepicker();
                                                    });
                                                </script>
                                            </div>
                                        <!-- <h4 class="small font-weight-bold">Query</h4>
                                        <select id="graphQuery" class="custom-select"
                                            aria-label="Default select example">
                                            <option selected>Select Query to show graph</option>
                                            <option value="01">TPC-H 1</option>
                                            <option value="02">TPC-H 2</option>
                                            <option value="03">TPC-H 3</option>
                                            <option value="04">TPC-H 4</option>
                                            <option value="05">TPC-H 5</option>
                                            <option value="06">TPC-H 6</option>
                                            <option value="07">TPC-H 7</option>
                                            <option value="08">TPC-H 8</option>
                                            <option value="09">TPC-H 9</option>
                                            <option value="10">TPC-H 10</option>
                                            <option value="11">TPC-H 11</option>
                                            <option value="12">TPC-H 12</option>
                                            <option value="13">TPC-H 13</option>
                                            <option value="14">TPC-H 14</option>
                                            <option value="15">TPC-H 15</option>
                                            <option value="16">TPC-H 16</option>
                                            <option value="17">TPC-H 17</option>
                                            <option value="18">TPC-H 18</option>
                                            <option value="19">TPC-H 19</option>
                                            <option value="20">TPC-H 20</option>
                                            <option value="21">TPC-H 21</option>
                                            <option value="22">TPC-H 22</option>
                                        </select> -->
                                        <div class="mt-4" align="right">
                                            <a id="graphMake" href="#" class="btn btn-primary btn-icon-split"
                                                style="align-content: right;">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-arrow-right"></i>
                                                </span>
                                                <span class="text">Show Graph</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mt-4 text-center small">
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-danger"></i> CSD-CPU
                                            </span>
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-success"></i> CSD-Memory
                                            </span>
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-primary"></i> CSD-NetworkTotal
                                            </span>
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-warning"></i> SSD-CPU
                                            </span>
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-secondary"></i> SSD-Memory
                                            </span>
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-info"></i> SSD-NetworkTotal
                                            </span>
                                        </div>
                                        <div class="chart-area chart-pie pt-4 pb-2">
                                            <canvas id="metricGraph"></canvas>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; KETI Simulator 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {{template "footer.html" .}}